.welcome{
    width: 100%;
    height: 85vh !important;
    background-image: url("../img/AI-1.jpg") !important;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__container{
    width: 70%;
    height: 70%;
    padding: 1vmax;
    background: rgba(0, 0, 0, 0.692);
    color: #8e9eab;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    letter-spacing: 0.3vmin;
    text-transform: uppercase;
    box-shadow: 0 4vmin 2.5vmin -2.5vmin black;
}

.welcome__h1--1{
    font-size: 7vmin;
    font-weight: bold;
}

.welcome__h1--3{
    font-size: 6vmin;
    font-weight: bold;
}

.welcome__h1--5{
    font-size: 6vmin;
    font-weight: bold;
}

.welcome__h1--p{
    font-size: 4vmin;
}

.cat{
    width: 100%;
    height: 40vh;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    display: flex;
}

.cat__section{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: inherit;
}

.cat__header{
    font-weight: bold;
    font-size: 6vmin;
    font-family: 'Lato', sans-serif;
    width: 50%;
    height: auto;
    text-align: center;
    margin-bottom: 2vmax;
    box-shadow: 0 3vmin 2vmin -2vmin black;
}

.cat__h1{
    color: rgb(75, 17, 17);
}

.cat__article{
    width: 50%;
    height: auto;
    text-align: center;
    margin-top: 2vh;
}

.cat__p{
    letter-spacing: 0.1vmin;
    font-size: 2.5vmin;
}

.photo{
    background-size: cover;
    background-position: center top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.photo--1{
    background-image: url("../img/AI-2.jpg") !important;
}

.photo--2{
    background-image: url("../img/AI-3.jpg") !important;
}

.photo--3{
    background-image: url("../img/AI-4.jpg") !important;
}

.end{
    height: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: black;
    color: #8e9eab;
    font-weight: bold;
    letter-spacing: 0.2vmin;
    word-spacing: 0.3vmin; 
    font-size: 2vmin;
}

@media all and (max-width: 768px){
    .cat__header{
        width: 90%;
    }
}


